/* ThingsToDo.css */

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  font-family: system-ui;
}

h1 {
  font-size: 2.5rem;
  color: #f7dd9fe3;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  color: #e9d18ed4;
  margin-bottom: 20px;
}

.slideshow-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.slideshow-image:hover {
  transform: scale(1.02);
}

.descriptions {
  margin: 15px 0 25px;
  font-size: 1.1rem;
  color: #f9f9f9;
}

.caption-overlay {
  color: #c7c7c7ed; 
}



.top-itinerary {
  color: #c7c7c7ed; 
}

.favorite-itinerary {
  color: #c7c7c7ed; 
}

.full-itinerary {
  color: #c7c7c7ed;
}

.travel-tips {
  color: #e1dce1;
}


.slideshow-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.slideshow-buttons button {
  padding: 10px 20px;
  font-size: 1rem;
  color: rgba(62, 48, 10, 0.916);
  background-color: #d8973b;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slideshow-buttons button:hover {
  background-color: #75848f;
}
.slideshow-buttons button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}
.slideshow-buttons button:disabled:hover {
  background-color: #bdc3c7;
}
.slideshow-buttons button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5);
}